@page "/"


<div id="target" style="height:100%">
    <SfDialog Height="30%" Width="400px" Target="#target" AllowDragging="true" EnableResize="true"
              ResizeHandles="@dialogResizeDirections">
        <DialogTemplates>
            <Header>
                <div id="template" class="e-icon-settings">Subscribe Newsletter</div>
            </Header>
            <Content>
                <div class="dialogContent">
                    <span class="dialogText">Register your email address to receive updates on the latest news.</span>
                </div>
            </Content>
            <FooterTemplate>
                <SfTextBox Type="InputType.Text" Placeholder="Enter your email address"
                           @bind-Value="@TextBoxValue" @ref="TextboxObject" />
                <div id="#subscribebutton">
                    <SfButton OnClick="@SubscribeButtonClick">Subscribe</SfButton>
                </div>
            </FooterTemplate>
        </DialogTemplates>
        <DialogPositionData X="Left" Y="Top"></DialogPositionData>
        <DialogAnimationSettings Effect="DialogEffect.FlipXUp"></DialogAnimationSettings>
    </SfDialog>
    <SfDialog Height="215px" Width="200px" Target="#target" @bind-Visible="SuccessDialogVisibility">
        <DialogTemplates>
            <Header>
                <div id="template" class="e-icon-settings">Success</div>
            </Header>
            <Content>
                <div class="dialogContent">
                    <span class="dialogText">Thank you for subscribing!</span>
                </div>
            </Content>
        </DialogTemplates>
        <DialogButtons>
            <DialogButton Content="Close" IsPrimary="true" OnClick="@CloseButtonClick" />
        </DialogButtons>
    </SfDialog>
</div>

@code

{

    private ResizeDirection[] dialogResizeDirections { get; set; } = new ResizeDirection[] { ResizeDirection.All };

    SfTextBox TextboxObject;

    private string TextBoxValue;

    private bool SuccessDialogVisibility { get; set; } = false;

    private void SubscribeButtonClick()
    {
        this.SuccessDialogVisibility = true;
    }

    private void CloseButtonClick(object arg)
    {
        if (this.TextboxObject.Value != "")
        {
            this.SuccessDialogVisibility = false;
            TextBoxValue = "";
            this.StateHasChanged();

        }

    }

}

<style>

    #target {
        min-height: 400px;
    }

    .e-dialog .e-dlg-header-content + .e-dlg-content {
        padding-top: 2px;
    }

    .e-dlg-header .e-icon-settings, .e-icon-btn {
        color: #fff;
    }

    .e-dialog .e-dlg-header-content {
        background-color: #3f51b5;
    }

    .e-btn, .e-css.e-btn {
        font-size: 13px;
        background-color: #3f51b5;
    }

    .e-dialog .e-dlg-header-content {
        padding: 8px;
        border-radius: 0px;
    }

    .e-dialog .e-icon-dlg-close::before {
        font-size: 15px;
    }


    #subscribebutton {
        top: 2px;
        position: relative;
    }

    .e-footer-content .e-input-group {
        width: 75%;
        float: left;
    }

    .e-dialog .e-footer-content {
        border-top: 0.5px solid rgba(0, 0, 0, 0.42);
        padding: 15px;
    }

    .e-dialog .e-dlg-header {
        position: relative;
    }

    #template {
        display: inline-block;
        padding: 0px 8px;
        vertical-align: middle;
        line-height: 40px;
        font-weight: 600;
        font-size: 17px;
    }

    .e-icon-settings.e-icons {
        float: left;
        position: relative;
        left: 14%;
        top: -33px;
    }

    .dialogContent .dialogText {
        font-size: 16px;
        text-align: justify;
        font-style: initial;
        display: block;
        font-weight: 500;
    }

    .dialogContent {
        display: block;
        font-size: 16px;
        text-align: center;
        font-style: italic;
        padding: 3%;
        position: relative;
        top: 25px;
    }
</style>
